



  <!-- data-detail='{"click": [  {"dest":"confirmationLogin", "act":"hide"}  ] }' -->

 <div class="no-scroll login-showx" id="login" >
	
      <div class="contLeft"> 
        <div class="logo" ></div>
        <div class="illus" ></div>
        <label class="title">BeeStock V1.0</label>
        <label class="desLeft">Powered by Gosive LLC </label>



      </div> <!-- contLeft -->

      <div class="contRight"> 
          <label class="title">SING IN</label>
              <label class="des">Description</label>

        <form autocomplete="on">
          
              <div class="textfield textfield-filled mt-16" id="login_form_username">

                <input  class= 'elem' type="text"   value="" 
                         data-detail='{"click": [  ], 
                                       "key":   [ 
                                          {"dest":"textfield","act":"typing"  },
                                          {"dest":"login","act":"verifyFromKey"  } 

                                       ] }' autocomplete="on" >

                <div class="indicador"></div>

                <div class="trailing"  data-detail='{"click": [{"dest":"textfield", "act":"clear"}] }' >
                  <svg><use xlink:href="../../../public/css/svg.svg#cancel"></use></svg>
                </div>

                <div class="label"  >Username</div> 
                <div class="helper" >Required*</div>

              </div><!-- textfield -->



              <div class="textfield textfield-filled textfield-password password-noview" id="login_form_password">

                <input  class= 'elem' type="password"   value="" 
                         data-detail='{"click": [ ], 
                                       "key":   [ {"dest":"textfield","act":"typing"}, 
                                                  {"dest":"login",    "act":"verifyFromKey"  } 
                                       ] }' autocomplete="on" >

                <div class="indicador"></div>

                <div class="trailing"  data-detail='{"click": [{"dest":"textfield", "act":"password"}] }' >
                  <svg><use xlink:href="../../../public/css/svg.svg#eye"></use></svg>
                </div>

                <div class="label">Password</div> 
                <div class="helper" >Required*</div>
              </div><!-- textfield -->  

        </form>





          <div class="button button-large"  data-detail='{"click": [{"dest":"ripple" }, 
                                                                    {"dest":"login","act":"verify"  }] }'>
            <label>Login</label>  
            <svg><use xlink:href="../../../public/css/svg.svg#right-small"></use></svg>      
          </div>


            <div class="button button-large button-flat dn" data-detail='{"click": [{"dest":"ripple" }] }' >
            <label>FORGOT YOUR PASSWORD</label>        
          </div>



            <div class="cont">
                <div class="illus" ></div>
                <label>Gosive LLC <br> V 0.01 </label>
            </div>
              

      </div>

    


</div>

