<div class="appbar appbar-blackX" id="appbar">

    <div class="primary "> 

        <div class=""  data-detail='{"click": [ 
                                    {"dest":"ripple" }, 
                                    {"dest":"drawer", "act":"show" } ] }' >
            <svg><use xlink:href="../../../public/css/svg.svg#menu"></use></svg>
        </div>

        <h1>Primary v1.11</h1>

        <label class="avatar avatar-away" id="avatar"  
                data-detail='{"click": [ 
                                    {"dest":"ripple" }, 
                                    {"dest":"menu", "act":"show", "id":"avatarOptions" } ] }'

             > 
             <div class="title"></div>
            <div class="status"></div>
        </label>

<!-- 
        style="background-image:  url('./css/img/pic/goku.png');"         
        <div data-detail='{"click": [ {"dest":"ripple" }] }' >
        <svg><use xlink:href="../../public/css/svg.svg#more"></use></svg> </div>  
-->
              
    </div> <!-- primary -->



</div> <!-- appbar -->