


$d-surface: #121212;  /*Dark color → backgrouds*/ 
$d-p: #65afff;


$d-divider: #595959;
$d-error: #CF6679;




//darkElevations e→elevation

$d-e1  : #1D1D1D ;
$d-e2  : #222222 ;
$d-e3  : #242424 ;
$d-e4  : #272727 ;
$d-e6  : #2C2C2C ;
$d-e8  : #2D2D2D ;
$d-e12 : #323232 ;
$d-e16 : #353535 ;
$d-e24 : #373737 ;

//fonts color, should be delete, after replace font file
$d-f-lg:  #ffffffde;  //blackbg
 

