
// @include selectNo;

@mixin selectNo{
	user-select: none;
	pointer-events: none;
}


.selectNo{ @include selectNo; }



@mixin carterNo{
 -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
   user-select: none;  
}