.dashboard_card{
	display: inline-block;
	float: left;
	width: calc(50% - 16px);

	padding: 8px;
	margin:8px;

	background-color: $c_w;



	//border: 1px solid red;/********************************/


}/*dashboard_card*/