
         <div class="monitor" id="monitor-promise">

             <div class="bar">

                    <div class="unit unit-icon"> 
                        <div class="icon"> <svg><use xlink:href="../../public/css/svg.svg#building"></use></svg>  </div>
                    </div>

                    <label>Promise</label>

                    <div class="unit blue  unit-click" 
                            data-detail='{"click": [ 
                              {"dest":"ripple" },                               
                              {"dest":"monitor", "id":"monitor-promise", "elem":"tab",  "act":"pageMov", "pagetoshow":"users" }  ] }' > 

                        <div class="icon"> 
                            <svg><use xlink:href="../../public/css/svg.svg#person"></use></svg>  
                            <span>5</span>
                        </div>
                         <label>Users</label>
                    </div>

                    <div class="unit green  unit-click" 
                            data-detail='{"click": [ 
                              {"dest":"ripple" },                               
                              {"dest":"monitor", "id":"monitor-promise", "elem":"tab",  "act":"pageMov", "pagetoshow":"payment" }  ] }' > 
                     
                        <div class="icon "> 
                            <svg><use xlink:href="../../public/css/svg.svg#money"></use></svg> 
                        </div>
                        <label>On time</label>
                    </div>

                    <div class="unit purple unit-click" 
                            data-detail='{"click": [ 
                              {"dest":"ripple" },                               
                              {"dest":"monitor", "id":"monitor-promise", "elem":"tab",  "act":"pageMov", "pagetoshow":"storage" }  ] }' > 

                        <div class="icon "> 
                            <svg><use xlink:href="../../public/css/svg.svg#cloud"></use></svg> 
                        </div>

                        <label>35%</label>

                    </div>

                    <div class="unit unit-100" title="Last time that the user was active"> 
                        <div class="icon"> <svg><use xlink:href="../../public/css/svg.svg#datatransfer"></use></svg>  </div>
                        <label>1h, 35 min ago</label>
                    </div>
                                                                                    
             </div>


             <div class="page users dn" >
                 
                 <div class="line" id="companyname-userid">

                    <div class="line-avatar line-avatar-up"
                        data-detail='{"click": [ {"dest":"ripple" }, 
                        {"dest":"monitor", "elem":"menu", "id":"userOption", "idUser":"55", "act": "show" }  ] }' 
                    > 
                        <div class="status"></div>
                    </div>

                    <label>Goku</label>


                    <div class="unit  unit-100" > 
                        <div class="icon"> <svg><use xlink:href="../../public/css/svg.svg#desktop"></use></svg>  </div>
                        <label>Chrome 4.6</label>
                    </div>

                    <div class="unit unit-100 unit-active" 
                         title='1h, 35 min ago / Remove a user adfa adf asdfa asdf ad  asdf fasdf'> 
                        <div class="icon"> 
                            <svg><use xlink:href="../../public/css/svg.svg#datatransfer"></use></svg>  
                        </div>
                        <label>1h, 35 min ago</label>
                    </div>

                 </div><!-- line -->



                 <div class="line" id="companyname-userid">

                    <div class="line-avatar line-avatar-up"
                        data-detail='{"click": [ {"dest":"ripple" }, 
                        {"dest":"monitor", "elem":"menu", "id":"userOption", "idUser":"55", "act": "show" }  ] }' 
                    > 
                        <div class="status"></div>
                    </div>

                    <label>Goku</label>


                    <div class="unit  unit-100" > 
                        <div class="icon"> <svg><use xlink:href="../../public/css/svg.svg#desktop"></use></svg>  </div>
                        <label>Chrome 4.6</label>
                    </div>

                    <div class="unit unit-100 unit-active" 
                         title='1h, 35 min ago / Remove a user adfa adf asdfa asdf ad  asdf fasdf'> 
                        <div class="icon"> 
                            <svg><use xlink:href="../../public/css/svg.svg#datatransfer"></use></svg>  
                        </div>
                        <label>1h, 35 min ago</label>
                    </div>

                 </div><!-- line -->


             </div>
 
             <div class="page payment dn" >
                <h1>payment</h1>
             </div>

             <div class="page storage dn" >
                <h1>storage</h1>
             </div>


          

         </div><!-- monitor -->  
 