

<div class="bottomnav " id="bottomnav">

     <div data-detail='{"click": [ 
                        {"dest":"ripple" }, 
                        {"dest":"bottomnav" },
                        {"dest":"home", "id":"home-page", "act":"show" } ] }'>

       <svg><use xlink:href="../../public/css/svg.svg#person"></use></svg>
       <label>Home</label>
     </div>

     <div data-detail='{"click": [ 
                        {"dest":"ripple" }, 
                        {"dest":"bottomnav" },
                        {"dest":"goku", "elem":"page", "id":"goku-page", "act":"show" } ] }'>

       <svg><use xlink:href="../../public/css/svg.svg#person"></use></svg>
       <label>Goku</label>
     </div>

     <div class="select" 
            data-detail='{"click": [ 
                        {"dest":"ripple" }, 
                        {"dest":"bottomnav" },
                        {"dest":"page", "id":"page-2", "act":"show" } ] }'

      >

       <svg><use xlink:href="../../public/css/svg.svg#person"></use></svg>
       <label>Page 2 </label>
     </div>
     


</div>