



<div class="scrim scrim-confirmation  Lc_signature_hide"   id="scrim_signature"  ></div>


   <div class="signature signature-showx" id="signature" >

      <div class="close" 
        data-detail='{"click": [ {"dest":"ripple" }, {"dest":"signature", "act":"hide"} ] }' >

       <svg><use xlink:href="../../../public/css/svg.svg#close"></use></svg>
      </div>

      <canvas class="cont" id="generalPadSignature"></canvas>

      <label class="title"></label>
      <label class="des"></label>

    
      <div class="btns">
         <div class="button" 
             data-detail='{"click": [ {"dest":"ripple" }, {"dest":"signature", "act":"submit"} ] }'> 
             <label>Submit</label>
         </div>
         
         <div class="button button-flat "
             data-detail='{"click": [ {"dest":"ripple" }, {"dest":"signature", "act":"clean"} ] }'>
            <label>Clean</label>
        </div>
        
         <div class="button button-plain "
            data-detail='{"click": [ {"dest":"ripple" }, {"dest":"signature", "act":"hide"} ] }'>
            <label>Cancel</label>
        </div>  

      </div> <!-- btns -->

  </div> <!-- signature -->



   <!-- signature -->
   <div class="signature-line dn" id="signatueForPDF"> <canvas></canvas> </div> 

