

.file {
	position: relative;
	display: inline-block;
	width: 100%;

	max-width: 1000px;
	border-radius: 4px;
	border-radius: 4px;
	padding: 8px;	
	//padding-bottom: 48px;	
	margin-bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
	//border: 0.5px solid $c-divider; /*---------------------------------------------*/


	//border: 0.5px solid blue; /*---------------------------------------------*/

	

}/*files*/

.filePage{
	& > .file-regularFiles{ display: inline-block; }
	& > .file-deletedFiles{ display: none; }

}


.filePage-view-trash{
	& > .file-regularFiles{ display: none; }
	& > .file-deletedFiles{ display:  inline-block; }

}

