@mixin dt-checkbox-dark{


	.dt { 
		& > table{
			& th:nth-child(1), & td:nth-child(1) {
			
				& input{
					border: 2px solid $c-w;
					&::before{
					   background-color: $c-w;
					}

					&:checked{
						background:  $c-pl url(svg/check.svg) no-repeat;
						border: 2px solid $c-pl ;
					}
				}
			}		
		}
	}


}