


<div class="fullcont fullcont-showx" id="onboard">

    <div class="appbar appbar-fullcont" >
        <div class="primary fr"> 

            <div class=" "  data-detail='{"click": [ 
                                         {"dest":"ripple" },
                                         {"dest":"onboard",  "act":"hide", "id":"onboard" }

                                          ] }' >
                   <label>skip</label>
            </div> 

        </div> <!-- primary -->
    </div> <!-- appbar -->





    <div class="page  page-appbar page-1 ">   

      <div class='illustration-onboard'>
        <img >
      </div>

      <label class="font-onboard-title">asdfasdf</label> 
      <label class="font-onboard-des">asdfasdf</label> 


    </div>
    <div class="page page-appbar page-2 dn"> <h1>page 2</h1> </div>
    <div class="page page-appbar page-3 dn"> <h1>page 3</h1> </div>
    <div class="page page-appbar page-4 dn"> <h1>page 4</h1> </div>




  <div class="stepper stepper-1 stepper-bothOn " data-index='1' data-pages='4' >

    <div class="btn-back" 
         data-detail='{"click": [  {"dest":"ripple" }, 
         {"dest":"onboard",  "id":"onboard", "act":"stepper", "to":"back" } ] }' >
      <svg><use xlink:href="../../../public/css/svg.svg#left"></use></svg>
      <label>BACK</label>        
    </div>

    <div class="counter" >
      <span></span> <span></span> <span></span> <span></span>
    </div>

    <div class="btn-next"
          data-detail='{"click": [  {"dest":"ripple" }, 
          {"dest":"onboard","id":"onboard", "act":"stepper", "to":"next" } ] }'>
      <label>NEXT</label>        
      <svg><use xlink:href="../../../public/css/svg.svg#right"></use></svg>
    </div>

  </div><!--stepper-->


 </div> <!-- fullcont -->
