<div class="drawer drawer-showx Lt_drawer" id="drawer"  >
   
   <label class="title">Gosive</label>



  <div class="elem"  data-detail='{"click": [ 
                              {"dest":"ripple" }, 
                              {"dest":"drawer", "act":"hide" } ] }' >
    <svg><use xlink:href="../../../public/css/svg.svg#person"></use></svg>
    <label>Account</label>
  </div>  

  <span class="divider divider-8"></span>

  <label class="des">Style</label>

  <div class="switch" > 
     <label>DarkTheme</label>             
     <input type="checkbox" checked 
            data-detail='{"click": [ 
                         {"dest":"ripple" }, 
                         {"dest":"darkTheme" } ] }'>
  </div>

  <span class="divider divider-8"></span>

   <label class="des">Data</label>


  <div class="elem"  data-detail='{"click": [ 
                              {"dest":"ripple" }, 
                              {"dest":"drawer", "act":"hide" } ] }' >
    <svg><use xlink:href="../../../public/css/svg.svg#cloud"></use></svg>
    <label>Storage</label>
  </div>  

  <div class="elem"  data-detail='{"click": [ 
                              {"dest":"ripple" }, 
                              {"dest":"drawer", "act":"hide" } ] }' >
    <svg><use xlink:href="../../../public/css/svg.svg#delete"></use></svg>
    <label>Trash</label>
  </div>  

  <div class="elem elem-last"  data-detail='{"click": [ 
                              {"dest":"ripple" }, 
                              {"dest":"drawer", "act":"hide" } ] }' >
    <svg><use xlink:href="../../../public/css/svg.svg#logout"></use></svg>
    <label>Log me out</label>
  </div>  


</div>