


<div class="confirmation confirmation-show" id="confirmation-map" >


    <div class="img"  id="confirmation-map-img"></div>


    <label class="font-card-title">How enable on</label>
     <div class="row">
      <div class="c50">
           <div class="button button-flat button-large"
               data-detail='{"click": [{"dest":"ripple"}, {"dest":"map", "act":"changeGif", "id":"chrome-desktop.png"} ] }' >
              <label>Chrome Desktop </label>        
          </div>        

           <div class="button button-flat button-large"
                data-detail='{"click": [{"dest":"ripple"}, {"dest":"map", "act":"changeGif", "id":"chrome-phone.png"} ] }'>
              <label>Chrome Phone </label>        
          </div>  

      </div><!-- c50 -->
      <div class="c50"> 

         <div class="button button-flat button-large"
              data-detail='{"click": [{"dest":"ripple"}, {"dest":"map", "act":"changeGif", "id":"ios-desktop.gif"} ] }'>
            <label>IOS Desktop</label>        
        </div>

         <div class="button button-flat button-large"
              data-detail='{"click": [{"dest":"ripple"}, {"dest":"map", "act":"changeGif", "id":"ios-phone.png"} ] }'>
            <label>IOS Phone</label>        
        </div>

      </div><!-- c50 -->
    </div><!-- row -->







     <div class="button button-large" 
       data-detail='{"click": [{"dest":"ripple"}, {"dest":"map", "act":"howEnableHide"} ] }'>
        <label>OK</label>        
    </div>



</div>

